@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.cjs";

@plugin "daisyui" {
  themes: false;
}

@layer base {
  html {
    font-family: "Iosevka Charon Mono", monospace;
  }
}

@plugin "daisyui/theme" {
  name: "solarized-dark";
  default: true;
  color-scheme: dark;

  --color-base-100: #002b36;
  --color-base-200: #073642;
  --color-base-300: #586e75;
  --color-base-content: #839496;

  --color-primary: #268bd2;
  --color-primary-content: #fdf6e3;

  --color-secondary: #2aa198;
  --color-secondary-content: #fdf6e3;

  --color-accent: #b58900;
  --color-accent-content: #002b36;

  --color-neutral: #073642;
  --color-neutral-content: #93a1a1;

  --color-info: #6c71c4;
  --color-success: #859900;
  --color-warning: #cb4b16;
  --color-error: #dc322f;
}

@plugin "daisyui/theme" {
  name: "solarized-light";
  default: false;
  color-scheme: light;

  --color-base-100: #fdf6e3;
  --color-base-200: #eee8d5;
  --color-base-300: #93a1a1;
  --color-base-content: #657b83;

  --color-primary: #268bd2;
  --color-primary-content: #fdf6e3;

  --color-secondary: #2aa198;
  --color-secondary-content: #fdf6e3;

  --color-accent: #b58900;
  --color-accent-content: #fdf6e3;

  --color-neutral: #eee8d5;
  --color-neutral-content: #586e75;

  --color-info: #6c71c4;
  --color-success: #859900;
  --color-warning: #cb4b16;
  --color-error: #dc322f;
}
